@using System.Security.Claims;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model WebGames.ModelView.GameHomeVM

@*Nếu mà dùng cách 2 để phân quyền thì sử dụng 3 thư viện này*@
@*@using Microsoft.AspNetCore.Authorization

@inject UserManager<IdentityUser> userManager
@inject SignInManager<IdentityUser> signInManager*@
@{
    ViewData["Title"] = "Home Page";
    List<Sanpham> listAllSP = ViewBag.game;
    List<Theloai> listTL = ViewBag.theloai;
    Sanpham top1s = ViewBag.top1;
    List<Sanpham> top5s = ViewBag.top5;
    // Cách 1
    var userRole = User.FindFirstValue(ClaimTypes.Role);

    // Cách 2
    //var user = await userManager.GetUserAsync(User);
    //var roles = await userManager.GetRolesAsync(user);
}

 <div style="margin: 50px auto; width: 100%; ">
    <div>
        <form asp-action="Index" method="get" class="form">
            <div style="display: flex; text-align: center; align-items: center; justify-content: center;">
                <div style="margin-right: 10px;">
                    <label>Tên</label>
                    <input type="text" name="name" placeholder="Nhập từ khóa..." style="padding: 10px 50px; border-radius: 10px;" />
                </div>
                <div>
                    <button class="btn btn-success" style="padding: 10px 50px;" type="submit">Gửi</button>
                </div>
            </div>
        </form>
    </div>
</div>
<section class="hero">
    <div class="container">
       
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="@top1s.Hinhanh">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!--Hiển thị tên của người dùng vừa đăng nhập-->
                @*<h1>@User.Identity.Name</h1>*@
                @*
                    //Phân quyền theo cách 2
                    <h3>Xin chào, @user.UserName!</h3>
                    <p>Quyền của bạn là: @string.Join(", ", roles)</p>
                *@

                @*Phân quyền theo cách 1*@
                @*@if(userRole == "1")
                {
                    <h1 style="color: white">Admin</h1>
                }*@

                @foreach (var item in Model.lsDanhSach)
                {
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h5>
                                        <a href="/loaigame/@item.theloais.Id">@item.theloais.Ten</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display: flex; overflow: hidden">
                        @foreach (var items in item.sanphams)
                        {

                            @if (item.theloais.Id == items.TheloaiId)
                            {


                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@items.Hinhanh">
                                            <div class="ep">18 / 18</div>
                                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                            <div class="view"><i class="fa fa-eye"></i> @items.Solanclick</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>Active</li>
                                                <li>Movie</li>
                                            </ul>
                                            <h5><a asp-route-id="@items.Id" asp-action="details" asp-controller="Home">@items.Ten</a></h5>
                                        </div>
                                    </div>
                                </div>



                            }

                        }
                    </div>
                }

            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Top Views</h5>
                        </div>
                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Day</li>
                            <li data-filter=".week">Week</li>
                            <li data-filter=".month">Month</li>
                            <li data-filter=".years">Years</li>
                        </ul>
                        <div class="filter__gallery">
                            @foreach (var item in top5s)
                            {
                                <div class="product__sidebar__view__item set-bg mix day years"
                                 data-setbg="@item.Hinhanh">
                                    <div class="ep">18 / ?</div>
                                    <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    <h5><a asp-action="details" asp-controller="Home" asp-route-id="@item.Id">@item.Ten</a></h5>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>New Comment</h5>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="img/sidebar/comment-1.jpg" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="img/sidebar/comment-2.jpg" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">Shirogane Tamashii hen Kouhan sen</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="img/sidebar/comment-3.jpg" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">Kizumonogatari III: Reiket su-hen</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                        <div class="product__sidebar__comment__item">
                            <div class="product__sidebar__comment__item__pic">
                                <img src="img/sidebar/comment-4.jpg" alt="">
                            </div>
                            <div class="product__sidebar__comment__item__text">
                                <ul>
                                    <li>Active</li>
                                    <li>Movie</li>
                                </ul>
                                <h5><a href="#">Monogatari Series: Second Season</a></h5>
                                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>